<a href="https://colab.research.google.com/github/ObinDeveloper/Tst_for_basic_py/blob/main/Copy_of_Udacity_AI_Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Week 2


# Data Variables and Operators

Welcome to this lesson on Data Types and Operators! In this lesson, you will learn how to write basic Python statements using building blocks like the print statement, variables, and different data types.
Here are the topics you'll learn about:

* Data Types: Integers, Floats, Booleans, Strings
* Operators: Arithmetic, Assignment, Comparison, Logical
* Built-In Functions, Type Conversion
* Whitespace and Style Guidelines

**TASK 1**

Using Basic operators in python, calculate number of 25 bills you need to pay for $212 dollors lunch. Also, calculate the reminder that you need to pay in 1 dollor bill.

In [1]:
total_cost = 212
bill_denomination = 25

num_bills = total_cost // bill_denomination
remainder = total_cost % bill_denomination

print("Number of $25 bills needed:", num_bills)
print("Remainder in $1 bills:", remainder)

Number of $25 bills needed: 8
Remainder in $1 bills: 12

**TASK 2**

Try the following codes and find out what is the main difference between these two operators?



```
11//24
11/24
11%24

```

In [2]:
print(11 // 24)
print(11 / 24)
print(11 % 24)

0
0.4583333333333333
11

**TASK 3**

Body Mass Index (BMI) is a measure of body fat based on height and weight that applies to adult men and women. Using variables, first create two variables as your weight(in kg) and height(in cm). Then calculate the BMI variable using the following formula and print the final value .



```
BMI = Weight(Kg)/(Height(m))**2
```

Do a quick search on internet and find out if your BMI is in the normal range or not!

In [3]:
weight = 70
height_cm = 175

height_m = height_cm / 100
BMI = weight / (height_m ** 2)

#output
print("Your BMI is:", BMI)

Your BMI is: 22.857142857142858

**TASK 4**

Using the TYPE() function , find out what is the type of your BMI value.

In the imaginary world, your height is exactly 0.0 cm ! What is going to be your BMI value?

In [4]:
type(BMI)

float

**TASK 5**

Using BMI variable you created in Task 3 and print True if your BMI is higher than 19 and less than 22, otherwise return False

In [5]:
result = 19 < BMI < 22
print(result)

False

**TASK 6**

Create a string variable with your full name like "Amir Parizi". Using indexing, create two variables , First name and Last name. What is the lenght of these three variables? Finally, print `"My first name is {Firstname} and my last name is {Lastname}"`

In [7]:
full_name = "Obin Koffinguessan"

space_index = full_name.index(" ")
first_name = full_name[:space_index]
last_name = full_name[space_index + 1:]


length_full_name = len(full_name)
length_first_name = len(first_name)
length_last_name = len(last_name)


print("The length of my fullname:", length_full_name)
print("the length of my firstname:", length_first_name)
print("the length of my lastname:", length_last_name)


print(f"My firstname is {first_name} and my lastname is {last_name}")

The length of my fullname: 18
the length of my firstname: 4
the length of my lastname: 13
My firstname is Obin and my lastname is Koffinguessan

**TASK 7**

Create these three string variables:

`Your First Name , Your Year of Birth , Your Country of origin`

Using string methods you've learned, identify which variables are :    
* Numeric valus
* All characters in lower format
* starts with "19"

Again, using string methods, join all three variables into one variable and find how many "a"(s) are available in the final variable?

Finally, use Format() function to print the following string:


```
"My name is {} and I am from {}"
```

In [8]:
first_name = "Obin"
year_of_birth = "1994"
country_of_origin = "Ivory Coast"


is_year_numeric = year_of_birth.isnumeric()
is_first_name_numeric = first_name.isnumeric()
is_country_numeric = country_of_origin.isnumeric()

# Check if variables are all lowercase
is_first_name_lower = first_name.islower()
is_year_lower = year_of_birth.islower()
is_country_lower = country_of_origin.islower()


starts_with_19 = year_of_birth.startswith("19")

# Print results for clarity
print("Is year_of_birth numeric:", is_year_numeric)
print("Is first_name numeric:", is_first_name_numeric)
print("Is country_of_origin numeric:", is_country_numeric)
print("Is first_name in lowercase:", is_first_name_lower)
print("Is year_of_birth in lowercase:", is_year_lower)
print("Is country_of_origin in lowercase:", is_country_lower)
print("Does year_of_birth start with '19':", starts_with_19)

# Step 3: Join the three variables into one variable
combined_string = " ".join([first_name, year_of_birth, country_of_origin])

# Step 4: Count occurrences of the letter "a" in the combined string
count_a = combined_string.lower().count("a")

# Step 5: Use the format() function to print the desired output
print(f"My name is {first_name} and I am from {country_of_origin}")

Is year_of_birth numeric: True
Is first_name numeric: False
Is country_of_origin numeric: False
Is first_name in lowercase: False
Is year_of_birth in lowercase: False
Is country_of_origin in lowercase: False
Does year_of_birth start with '19': True
My name is Obin and I am from Ivory Coast

**TASK 8**

Lets take a look at Hackerrank website and see what we can do to practice more!

https://www.hackerrank.com/challenges/python-arithmetic-operators/problem?isFullScreen=true

https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=true

https://www.hackerrank.com/challenges/python-division/problem?isFullScreen=true

https://www.hackerrank.com/challenges/python-string-split-and-join/problem?isFullScreen=true

https://www.hackerrank.com/challenges/capitalize/problem?isFullScreen=true

# Data Structure

Welcome to this lesson on data structures! In the previous lesson, you learned about many of the basic building blocks, including data types, for programming in Python. In this lesson, you will learn to make use of new data structures, which group and order data in different ways, to help you solve problems.
Specifically, you'll learn about:

* Types of Data Structures: Lists, Tuples, Sets, Dictionaries, Compound Data Structures
* Operators: Membership, Identity
* Built-In Functions and Methods

**TASK 1**

Create a list of four items and then print:
* First item
* last item
* second item to the end of the list
* lenght of the list
* add your name to the end of the list
* change the first value to TRUE
* add your name to the begining of the list

**TASK 2**

Create a following list : `[1,3,2,10,-10,4]` . Using functions in list:

I) sort the list from the largest value to the smallest value

II) calculate the min,max and average value of the list.

III) print all values in one line with a space between each number

IV) Add number 7 to the list and recalculate the average

**TASK 3**

What would the output of the following code be?


```
a = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

b = set(a)
b.add(5)
b.pop()

print(b)
print(len(a) - len(b))
```

**TASK 4**

What would the output of the following code be? (Treat the commas in the multiple choice answers as newlines.)

```

tuple_a = 1, 2
tuple_b = (1, 2)

print(tuple_a == tuple_b)
print(tuple_a[1])

print(tuple_b[1]==3)
print(tuple_b[1]=3)

```

**TASK 5**

Create the following dictionary :    

```
elements = {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
            'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}}
```

add another element to the dictionary with the following properties:


```
Name:Oxygen , Number:8 , Weight: 16.008 , Symbol : O
```
Using the dictionary:

I) Calculate the weight of the H2O

II) Calculate the weight ratio of He to H2O

III) What would the output of the following code be?


```
print(elements.get("Carbon"))
```

IV) Create two lists of only values and only keys in the elements

**TASK 6**

You have the following list of values :    


```
[1,2,3,2,1,5,2,4,2,2,3,6]
```

Your task is to count each value in the list and put it in the dictionary in the following format:



```
{Value: Count of the value}
```

How would you approach this task using "FOR" loop (You can do a quick search online)

**TASK 7**

Lets take a look at Hackerrank website and see what we can do to practice more!

https://www.hackerrank.com/challenges/python-lists/problem?isFullScreen=true

https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/problem?isFullScreen=true